/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* ===== Color Variables ===== */

:root {
  --white-hsl: 0, 0%, 100%;
  --black-hsl: 0, 0%, 0%;
  --safeLightAccent-hsl: 42.86, 3.87%, 64.51%;
  --safeDarkAccent-hsl: 42.86, 3.87%, 64.51%;
  --safeInverseAccent-hsl: 0, 0%, 100%;
  --safeInverseLightAccent-hsl: 0, 0%, 100%;
  --safeInverseDarkAccent-hsl: 0, 0%, 100%;
  --accent-hsl: 42.86, 3.87%, 64.51%;
  --lightAccent-hsl: 210, 3.23%, 87.84%;
  --darkAccent-hsl: 240, 2.61%, 22.55%;
  --white-hex: #ffffff;
}


/* ===== Font Variables ===== */

:root {
  --base-font-size: 16px;
  --heading-font-font-family: Cormorant Garamond;
  --heading-font-font-style: normal;
  --heading-font-font-weight: 500;
  --heading-font-text-transform: none;
  --heading-font-letter-spacing: 0em;
  --heading-font-line-height: 1.4em;
  --body-font-font-family: adobe-garamond-pro;
  --body-font-font-style: normal;
  --body-font-font-weight: 400;
  --body-font-text-transform: none;
  --body-font-letter-spacing: 0em;
  --body-font-line-height: 1.8em;
}

/* ===== Global Styles ===== */
body {
  margin: 0;
  /* font-family: Arial, sans-serif; */
  font-family: var(--body-font-font-family);
}

/* ===== App Layout ===== */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 2rem;
}

/* ===== Navbar Styles ===== */
.navbar-container {
  display: flex !important;
  transition: padding 140ms ease-in-out !important;
  justify-content: space-between !important;
  align-items: center;
  padding: 1rem 2rem;
  background-color: hsla(var(--darkAccent-hsl), 0.6) !important;
  /* color: var(--white-hsl); */
  font-family: var(--heading-font-font-family) !important;
  /* no  shadow */
  box-shadow: none !important;

}

.navbar-container.hidden {
  top: -100px;
}

.navbar-container-wrapper {
  transition: padding 140ms ease-in-out !important;
}

/* 
element {
  --solidHeaderBackgroundColor: hsla(var(--white-hsl), 1);
  --solidHeaderNavigationColor: hsla(var(--black-hsl), 1);
  --gradientHeaderBackgroundColor: hsla(var(--darkAccent-hsl), 1);
  --gradientHeaderNavigationColor: hsla(var(--white-hsl), 1);
} */

/* ===== Footer Styles ===== */
.footer {
  text-align: center;
  padding: 1rem;
  background-color: hsla(var(--darkAccent-hsl), 0.6) !important;
  /* color: #fff; */
  margin-top: auto;
}

/* ===== Animation ===== */
.slideIn {
  transform: translate(0, 0) !important;
}

.preSlide {
  opacity: 0;
  transform: translate(0%, 30%);
  transition-property: transform, opacity;
}

.hero-text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: var(--heading-font-font-family) !important;
  z-index: 999;
}

.tweak-fixed-header {
  transition: padding 140ms ease-in-out;
}

.button {
  /* background-color: hsla(var(--darkAccent-hsl), 1); */
  color: --white-hsl;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-family: var(--heading-font-font-family) !important;
}

.main-page-link {
  text-decoration: none;
  color: var(--white-hsl);
  text-align: left;
}

.section-background {
  position: relative;
  margin-bottom: 2rem;
}

.section-background img {
  width: 100%;
  height: auto;
}

.section-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-title {
  position: absolute;
  top: 66%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: var(--white-hex);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--heading-font-font-family) !important;
}

.section-background {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
  /* Add some space below the section */
}

.section-background img {
  width: 100%;
  height: auto;
}


.content-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: var(--body-font-font-family) !important;
  margin-bottom: 2rem;
}


.content-image {
  flex: 1;
}

.content-text {
  flex: 2;
  font-family: var(--body-font-font-family) !important;
}

.use-body-font {
  font-family: var(--body-font-font-family) !important;
}

.research-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  font-family: var(--body-font-font-family) !important;
}